= raw " &raquo; #{current_company.name.titlecase}" if has_current_company?
= link_to(icon('application_edit', :small, :title => 'Administración de Companías'), companies_path, :style => 'float:right;')

