= navigation(:id => "main-navigation") do |menu|
  - menu.item('Clientes', clientes_path, :active => controller.controller_name.include?('clientes'))
  - menu.item('Facturas', facturas_path, :active => controller.controller_name.include?('facturas'))
  - menu.item('Condiciones de IVA', condicionivas_path, :active => controller.controller_name.include?('condicionivas'))

