<h1>Configuración</h1>
<p>
  Esta es la página de configuración de Ventas.
</p>

<ul class="wat-cf">	
    <li><%= link_to "Roles", rols_path %></li>
    <li><%= link_to "Empresas", empresas_path %></li>
	<li>Usuarios</li>
</ul>
