<div id="footer">
  <div class="block">
    <p>Copyright APSystems &copy; <%= Time.now.year %> Web App.</p>
    <ul>
      <li><%= link_to "Acerca de", about_path %></li>
      <li><%= link_to "Contacto", contact_path %></li>
      <li><a href="http://news.ap-sys.com/">Noticias</a></li>
    </ul>
  </div>      
</div>